<ul class="backgrounds">
	<h3>Rock a Different Theme!</h3>
	<li><a id="metallica" href="#/bands"><img src="/images/backgrounds/metSM.jpg"></a></li>
	<li><a id="slayer" href="#/bands"><img src="/images/backgrounds/slayerSM.jpg"></a></li>
	<li><a id="judas" href="#/bands"><img src="/images/backgrounds/judasSM.jpg"></a></li>
	<li><a id="lamb" href="#/bands"><img src="/images/backgrounds/lambSM.jpg"></a></li>
	<li><a id="led" href="#/bands"><img src="/images/backgrounds/ledSM.jpg"></a></li>
	<li><a id="iron" href="#/bands"><img src="/images/backgrounds/ironSM.jpg"></a></li>
	<li><a id="avenged" href="#/bands"><img src="/images/backgrounds/avengedSM.jpg"></a></li>
	<li><a id="disturbed" href="#/bands"><img src="/images/backgrounds/disturbedSM.jpg"></a></li>
	<li><a id="slipknot" href="#/bands"><img src="/images/backgrounds/slipSM.jpg"></a></li>
	<li><a id="megadeth" href="#/bands"><img src="/images/backgrounds/dethSM.jpg"></a></li>
</ul>