<h3>Rock a Different Theme!</h3>
<ul class="backgrounds">
	<li><a id="Metallica" href="#/bands"><img src="/images/backgrounds/metSM.jpg"></a></li>
	<li><a id="Slayer" href="#/bands"><img src="/images/backgrounds/slayerSM.jpg"></a></li>
	<li><a id="Judas Priest" href="#/bands"><img src="/images/backgrounds/judasSM.jpg"></a></li>
	<li><a id="Lamb of God" href="#/bands"><img src="/images/backgrounds/lambSM.jpg"></a></li>
	<li><a id="Led Zeppelin" href="#/bands"><img src="/images/backgrounds/ledSM.jpg"></a></li>
	<li><a id="Iron Maiden" href="#/bands"><img src="/images/backgrounds/ironSM.jpg"></a></li>
	<li><a id="Avenged Sevenfold" href="#/bands"><img src="/images/backgrounds/avengedSM.jpg"></a></li>
	<li><a id="Disturbed" href="#/bands"><img src="/images/backgrounds/disturbedSM.jpg"></a></li>
	<li><a id="Slipknot" href="#/bands"><img src="/images/backgrounds/slipSM.jpg"></a></li>
	<li><a id="Megadeth" href="#/bands"><img src="/images/backgrounds/dethSM.jpg"></a></li>
</ul>