<meta charset="UTF-8">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/reset.css'>
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<!--YES I KNOW IVE UNCOMMENTED OUT THE FAVICON SHORT CUT IN THE APPS FILE. BUT I STILL
NEEDED THIS ONE IN HERE... FOR SOME STUPID REASON! MY FAVICON FOR EASY EATS WAS APPEARING INSTEAD
OF THE RED DEVIL...YA I KNOW...-->
<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/jquery-1.11.0.min.js"></script>
-->
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular-animate.min.js"></script>
<script src="/javascripts/angular-ui-router.js"></script>
<script src="/javascripts/angular-sanitize.min.js"></script>
<script src="/javascripts/main.js"></script>