<div id="bandWrapper">
<ul class="img-list">
	<li data-ng-repeat="band in bands">
		<a class="detailsLink" href="#/details/{{band._id}}">
			<img data-ng-src="{{band.Photo}}">
			<span class="text-content"><span>{{band.Name}}</span></span>
		</a>
	</li>
</ul>
</div>

<div id="albumContainer">
<p class="openingLine">Click on band buttons to view albums.</p>
		<div data-ng-repeat="band in bands">
			<div class="buttonHolder" ng-init="isHidden=true">
  			<button ng-click="isHidden=!isHidden">{{band.Name}}</button>
  			</div>
  			<div class="animation" ng-hide="isHidden">
  				<img data-ng-src="{{band.Albums[0].Photo}}">
  				<img data-ng-src="{{band.Albums[1].Photo}}">
  				<img data-ng-src="{{band.Albums[2].Photo}}">
  				<img data-ng-src="{{band.Albums[3].Photo}}">
  				<img data-ng-src="{{band.Albums[4].Photo}}">
  			</div>
		</div>
</div>