<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body data-ng-app="bandApp">
    <header>
      <h1><%= title %></h1>
      <a href="http://michel-beaubien.com/" target="onblank"><%= coder %></a>
    </header>

<section id="intro">
  <div id="container">
    <ui-view class="view">
    </ui-view>
  </div>
</section>

  <!--no footer this site!!!
    <footer>
      <% include ../views/partials/footer %>
    </footer>
  -->

  </body>
</html>
