<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body data-ng-app="bandApp">
    <header>
      <a href="http://michel-beaubien.com/" target="onblank"><%= coder %></a>
    </header>

  <div id="container">
    <ui-view class="view">
    </ui-view>
  </div>

    <footer class="slide">
      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>
