body {
  background-color: #ccc;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,span,a
{
  font-family: 'Anton', sans-serif;
}

p
{
  font-family: 'Roboto', sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

img
{
  max-width: 100%;
}

#container
{
  background-color: rgba(0,0,0,.6);
  width: 95%;
  margin: 2.5% auto;
  border-radius: 5px;
  border: thin solid #444;
  color: white;
}

#container h1, #container h3
{
  font-size: 2em;
  margin: 20px 0;
  display: block;
}

#bandWrapper
{
  overflow: hidden;
  clear: both;
}

#bandWrapper li
{
  width: 20%;
  float: left;
  cursor: pointer;
}

.titles
{
  display: block;
  font-size: 1.5em;
  background-color: rgba(255,255,255,.1);
  padding: 5px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#bandWrapper p
{
  padding: 10px 0;
  font-size: 1.2em;
}

#albumContainer
{
  clear: both;
  overflow: hidden;
}

#albumContainer button
{
 border: none;
  background-color: rgba(255,255,255,.5);
  display: block;
  margin: 5px 0 5px 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  border: 1px solid rgba(55,55,55,.5);
  cursor: pointer;
}

#albumContainer button:hover
{
  box-shadow: inset 0 0 5px rgba(0,0,0,.5);
  text-shadow: none;
}

.artistNames
{
  text-align: left;
  padding: 0 0 10px 10px;
  margin-bottom: 30px!
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.animation img
{
  border-radius: 3px;
  border: thin solid #ccc;
}

.animation:last-child
{
  margin-bottom: 20px;
}

ul.album-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.album-list li {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0 10px;
}

span.album-content {
  background: rgba(53,53,53,.8);
  border-radius: 3px;
  border: thin solid #ccc;
  line-height: 22px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -moz-opacity:0;
  -webkit-opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.album-list li:hover span.album-content {
  opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

ul.img-list img
{
  display: block;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  width: 20%;
  float: left;
  position: relative;
}

span.text-content {
  background: rgba(53,53,53,.8);
  line-height: 22px;
  padding: 20.6% 0;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -moz-opacity:0;
  -webkit-opacity:0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
    -moz-opacity:1;
    -webkit-opacity:1;
}

.animation.ng-hide-add,
.animation.ng-hide-remove {
  -webkit-transition:5s linear all;
  -moz-transition:5s linear all;
  -o-transition:5s linear all;
  transition:5s linear all;
  display:block!important;
}
.animation.ng-hide-remove {
  opacity:0;
}
.animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}