<div id="bioContainer" ng-animate-ref="{{profile._id}}">
	<h2 class="hidden">Artists Biography</h2>
<div>
	<h2 class="hidden">Artists Photo</h2>
<img data-ng-src="{{bandPic}}">
<p class="NAME" data-ng-bind-html="bandName"></p>
<p class="GENRE" data-ng-bind-html="bandGenre"></p>
</div>
<p class="BIO" data-ng-bind-html="bandBio"></p>
<a href="#/">Check Out Other Artists!</a>
</div><!--bio Container-->

<button class="daBUTTON" ng-click="isHidden=!isHidden">View Albums</button>
<div id="bioAlbumCon"  ng-init="isHidden=true">
	<h2 class="hidden">Artists Albums</h2>
    <div class="animation" ng-hide="isHidden">
    		<div class="ALBUMS" data-ng-repeat="album in albums">
    			<h2 class="hidden">Album Images</h2>
    			<div id="coverHolder">
    				<img data-ng-src="{{album.Photo}}">
    				<p class="albumName">{{album.Name}}<br>{{album.Year}}</p>
    			</div>
    		</div><!--albums-->

    		<button class="daBUTTON songBut" ng-click="hiddenTracks=!hiddenTracks">View Songs</button>
    		<div ng-init="hiddenTracks=true">
    			<h2 class="hidden">Artists Songs</h2>
    			<div ng-hide="hiddenTracks">
    				<ul class="SONGS">
    					<p class="albumNameMobile" data-ng-bind="albums[0].Name"></p>
    				<li data-ng-repeat="firstSong in firstSongs">
    				<p>
    					<span>Title</span>
    					{{firstSong.Title}}
    					<br>
    					<span>Length</span>
    					{{firstSong.Length}}
    				</p>
    				</li>
    			</ul>
    				
    			<ul class="SONGS">
    				<p class="albumNameMobile" data-ng-bind="albums[1].Name"></p>
    				<li data-ng-repeat="secondSong in secondSongs">
    				<p>
    					<span>Title</span>
    					{{secondSong.Title}}
    					<br>
    					<span>Length</span>
    					{{secondSong.Length}}
    				</p>
    				</li>
    			</ul>
    				
    			<ul class="SONGS">
    				<p class="albumNameMobile" data-ng-bind="albums[2].Name"></p>
    				<li data-ng-repeat="thirdSong in thirdSongs">
    				<p>
    					<span>Title</span>
    					{{thirdSong.Title}}
    					<br>
    					<span>Length</span>
    					{{thirdSong.Length}}
    				</p>
    				</li>
    			</ul>
    				
    			<ul class="SONGS">
    				<p class="albumNameMobile" data-ng-bind="albums[3].Name"></p>
    				<li data-ng-repeat="forthSong in forthSongs">
    				<p>
    					<span>Title</span>
    					{{forthSong.Title}}
    					<br>
    					<span>Length</span>
    					{{forthSong.Length}}
    				</p>
    				</li>
    			</ul>
    				
    			<ul class="SONGS">
    				<p class="albumNameMobile" data-ng-bind="albums[4].Name"></p>
    				<li data-ng-repeat="fifthSong in fifthSongs">
    				<p>
    					<span>Title</span>
    					{{fifthSong.Title}}
    					<br>
    					<span>Length</span>
    					{{fifthSong.Length}}
    				</p>
    				</li>
    			</ul>
    			</div>
    		</div><!--SONGS CON-->
    </div>
</div>