<div id="bioContainer" ng-animate-ref="{{profile._id}}">
<div>
<img data-ng-src="{{bandPic}}">
<h3 class="NAME" data-ng-bind-html="bandName"></h3>
<p class="GENRE" data-ng-bind-html="bandGenre"></p>
</div>
<p class="BIO" data-ng-bind-html="bandBio"></p>
<a href="#/">Check Out Other Artists!</a>
</div><!--bio Container-->

<button id="daBUTTON" ng-click="isHidden=!isHidden">View Albums</button>
<div id="bioAlbumCon" ng-init="isHidden=true">
    <div class="animation" ng-hide="isHidden">
	<ul>
        <li>
        <img data-ng-src="{{album1}}">
    	<p class="albumName" data-ng-bind-html="album1Name"></p>
    	<p class="albumYear" data-ng-bind-html="album1Year"></p>
        <ul class="SONGS">
            <li data-ng-bind-html="album1Song1"></li>
            <li data-ng-bind-html="album1Song2"></li>
            <li data-ng-bind-html="album1Song3"></li>
            <li data-ng-bind-html="album1Song4"></li>
            <li data-ng-bind-html="album1Song5"></li>
        </ul>
        </li>
        <li>
        <img data-ng-src="{{album2}}">
    	<p class="albumName" data-ng-bind-html="album2Name"></p>
    	<p class="albumYear" data-ng-bind-html="album2Year"></p>
        <ul class="SONGS">
            <li data-ng-bind-html="album2Song1"></li>
            <li data-ng-bind-html="album2Song2"></li>
            <li data-ng-bind-html="album2Song3"></li>
            <li data-ng-bind-html="album2Song4"></li>
            <li data-ng-bind-html="album2Song5"></li>
        </ul>
        </li>
        <li>
        <img data-ng-src="{{album3}}">
    	<p class="albumName" data-ng-bind-html="album3Name"></p>
    	<p class="albumYear" data-ng-bind-html="album3Year"></p>
        <ul class="SONGS">
            <li data-ng-bind-html="album3Song1"></li>
            <li data-ng-bind-html="album3Song2"></li>
            <li data-ng-bind-html="album3Song3"></li>
            <li data-ng-bind-html="album3Song4"></li>
            <li data-ng-bind-html="album3Song5"></li>
        </ul>
        </li>
        <li>
        <img data-ng-src="{{album4}}">
    	<p class="albumName" data-ng-bind-html="album4Name"></p>
    	<p class="albumYear" data-ng-bind-html="album4Year"></p>
        <ul class="SONGS">
            <li data-ng-bind-html="album4Song1"></li>
            <li data-ng-bind-html="album4Song2"></li>
            <li data-ng-bind-html="album4Song3"></li>
            <li data-ng-bind-html="album4Song4"></li>
            <li data-ng-bind-html="album4Song5"></li>
        </ul>
        </li>
        <li>
        <img data-ng-src="{{album5}}">
    	<p class="albumName" data-ng-bind-html="album5Name"></p>
    	<p class="albumYear" data-ng-bind-html="album5Year"></p>
        <ul class="SONGS">
            <li data-ng-bind-html="album5Song1"></li>
            <li data-ng-bind-html="album5Song2"></li>
            <li data-ng-bind-html="album5Song3"></li>
            <li data-ng-bind-html="album5Song4"></li>
            <li data-ng-bind-html="album5Song5"></li>
        </ul>
        </li>
    </ul>
    </div>
</div>