<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

<section id="intro">
  <% var students = JSON.parse(info); %><!--info is the DATA var in the user.js-->
    <h1><%= title %></h1>

    <ul>
    <% for(var i=0; i<length; i++) { %><!--my length will be pending on w.e-->

    <!--<li>
    <a href="http://localhost:3000/students/<%= students[i]._id %>">
    <%= students[i].fname %>
    </a>
    </li>students does not exist yet-->

    <% } %>
    </ul>

    <div>
      <p><%= comment %></p>
    </div>
</section>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
